* {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  position: relative;
}

main {
  margin-bottom: 250px;
}

.logo {
  position: absolute;
  top: 10px;
  left: 9.5%;
}

.logo img {
  width: 50px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #161616;
  padding: 20px;
  text-transform: uppercase;
  list-style: none;
  gap: 20px;
}

.navbar li {
  padding: 5px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  transition: .5s;
  font-size: 14px;
}

.nav-link.active {
  color: #9191919f;
  text-decoration: none;
  transition: .5s;
  font-size: 14px;
}

.nav-link:hover {
  color: #999;
}


.title-container {
  text-align: center;
  margin-top: 30px;
}

.title-container h1 {
  font-size: 50px;
}

.title-container p {
  margin-top: 10px;
  text-transform: uppercase;
  color: #999;
}


.posts-container {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.post-box:first-child {
  min-width: 100%;
}

.post-box {
  flex: 1 1 0;
}

.post-box img {
  width: 100%;
}

.post-box .post-title {
  font-size: 24px;
  margin: 10px 0;
}


.post-title a {
  color: #000;
  transition: .5s;
}

.post-title a:hover {
  color: #999;
}

.post-box .post-description {
  color: #666;
}

.tags-container {
  margin-top: 10px;
}

.tags-container a {
  font-size: 14px;
  color: #333;
  display: inline-block;
  margin-right: 5px;
}





/* post individual */

.post-container {
  display: grid;
  grid-template-columns: 74% 25%;
  grid-template-rows: auto;
  grid-template-areas: "main sidebar";
  grid-gap: 10px;
  padding-top: 30px;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 250px;
}

.content-container {
  grid-area: main;
}

.content-container .main-title {
  font-size: 36px;
  margin-bottom: 30px;
}

.content-container .post-description {
  font-style: italic;
  margin-bottom: 40px;
}

.content-container .post-content {
  line-height: 1.8;
  margin: 10px 0;
}

.content-container .img-container {
  margin-bottom: 30px;
}

.img-container img {
  width: 80%;
}



.nav-container {
  grid-area: sidebar;
}

.tags-title,
.categories-title {
  font-size: 24px;
  margin-bottom: 10px;
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 10px;
  font-weight: 300;
}

.tags-list,
.categories-list {
  list-style: none;
}

.tags-list li,
.categories-list li {
  margin-bottom: 10px;

}

.tags-list li a,
.categories-list li a {
  color: #666;
  transition: .5s;
}

.tags-list li a:hover,
.categories-list li a:hover {
  color: #000;
}




footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  background-color: #000;
  color: #fff;
  padding: 50px 0px;
}





@media(max-width: 480px) {
  header {
    width: 100%;
  }

  .logo {
    display: block;
    position: relative;
    margin: 0 auto;
    left: 0;
    width: 50px;
  }

  .navbar {
    display: none;
  }



  .post-box {
    flex: 100% 1 0;
  }



  .post-container {
    grid-template-columns: 100%;
    padding: 15px;
    grid-template-areas: "main"
      "sidebar";
  }

  .img-container img {
    width: 100%;
  }
}

@media(max-width: 1200px) {
  main {
    padding-inline: 20px;
  }
}